{% extends "todo/base.html" %}

{% block body %}
    <div class="card col-lg-8 mx-auto">
        <div class="card-header">
            Update Task
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-9 col-md-10">
                    <p class="card-text mb-0">Task name</p>
                    <form method="post" action="{% url 'update' form.instance.id %}">
                        {% csrf_token %}
                        {{ form.task }}
                        <a href="{% url 'index' %}" class="btn btn-info text-white"><- Go back</a>
                        <button type="submit" class="btn btn-primary text-white">Update</button>
                </div>
                <div class="col-3 col-md-2">
                    <p class="card-text mb-0">Completed</p>
                    <div class="form-check form-switch">
                        {{ form.completed }}
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}